@model IEnumerable<Labs_Cinemas.Cinemas>

@{
    ViewData["Title"] = "Cinemas";
}

<h1>Cinemas</h1>

<p>
    <a asp-action="Create">Create New Cinema</a>
</p>
<div>
    <h3>Оберіть exel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Cinemas", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" })) {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    } 
    <p style="color:brown">
        @ViewBag.ErrorMessage
    </p>
</div>
<div>
    <h3>Завантаження данних в файл</h3>
    <a asp-action="Export">
        Завантажити
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                <a asp-action="Buffets" asp-route-id="@item.Id">Buffets</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Halls</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-controller="Cinemas" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>

<div class="container">
    <div id="chart1"></div>
</div>

@section scripts{ 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
   google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        $.get('/api/Default/JsonData', function (jsonData) {
           var data = google.visualization.arrayToDataTable(jsonData, false);
            var option = {
                tittle: "Співвідношення кількості залів та кінотеатрів",
                width: 400,
                height: 300
            };
            chart = new google.visualization.PieChart(document.getElementById('chart1'));
            chart.draw(data, option);
        })
    }
</script>
}
