@model IEnumerable<Labs_Cinemas.Halls>

@{
    ViewData["Title"] = "Зали за кінотеатром";
}

<h1>Зали за кінотеатром @ViewBag.CinemasName</h1>

<p>
   @Html.ActionLink("Додати новий зал", "Create", new {cinemasId=@ViewBag.CinemasId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeopleAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Controler.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
